/.vs/

[Bb]in/
[Oo]bj/

*.suo
*.user
*.userosscache
*.sln.docstates

[Dd]ebug/
[Dd]ebugPublic
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]uild/

.dockerignore
docker-compose.vs.debug.yml
docker-compose.vs.release.yml